@import "./node_modules/neal-react/css/base";

.progress {
  margin: 10px auto;
  width: 300px;
}

.footer {
  clear: both;
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 40px;
    padding-right: 5px;
  }

  span {
    vertical-align: middle;
  }
}

.users-pagination {
  margin-top: 0;
}

.page-user-edit form {
  width: 500px;
  margin-top: 40px;
}

th {
  background-image: url('/media/pattern.jpg');
}

// .navbar-fixed-bottom, .navbar-fixed-top {
//     position: fixed;
//     right: 0;
//     left: 0;
//     z-index: 1030;
// }
//
// .navbar-fixed-top {
//     top: 0;
// }

.navbar-brand {
  float: left;
  color: white;
}

nav.neal-navbar li.nav-item {
  padding: 0.5em 1em;
  // color: white;
}

.text-xs-center {
  text-align: center !important;
}
